.icons {
  width: 80.5px;
  height: 84px;
  position: relative;
}
.calendar {
  width: 248px;
  position: relative;
  line-height: 29px;
  font-weight: 700;
  display: inline-block;
}
.planYourAcademic {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-small-normal-size);
  letter-spacing: -0.01em;
  line-height: 24px;
  color: var(--gray-500);
}
.featuresIcons,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.featuresIcons {
  flex: 0.9658;
  padding: 0 14px 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 265px;
  max-width: 100%;
}
.fingerprintIcon {
  width: 96px;
  height: 96px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.studentAssistant {
  width: 248px;
  position: relative;
  line-height: 29px;
  font-weight: 700;
  display: inline-block;
}
.getImmediateAnswers {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-small-normal-size);
  letter-spacing: -0.01em;
  line-height: 24px;
  color: var(--gray-500);
}
.featuresIcons1,
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.featuresIcons1 {
  flex: 1;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 265px;
  max-width: 100%;
}
.vectorIcon {
  width: 84px;
  height: 72px;
  position: relative;
}
.educationalBooks {
  width: 248px;
  position: relative;
  line-height: 29px;
  font-weight: 700;
  display: inline-block;
}
.exploreAndDownload {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-small-normal-size);
  letter-spacing: -0.01em;
  line-height: 24px;
  color: var(--gray-500);
}
.featuresIcons2,
.text2 {
  flex-direction: column;
  align-items: flex-start;
}
.text2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.featuresIcons2 {
  flex: 0.9488;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 265px;
  max-width: 100%;
}
.features,
.featuresIcons2,
.homePage {
  display: flex;
  justify-content: flex-start;
}
.features {
  width: 1140px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--gray-900);
  font-family: var(--paragraph-small-normal);
}
.homePage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 109px 120px 225px;
  box-sizing: border-box;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .features {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .features {
    gap: var(--gap-xl);
  }
  .homePage {
    gap: 56px;
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .calendar {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .featuresIcons {
    gap: var(--gap-base);
    flex: 1;
  }
  .studentAssistant {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .featuresIcons1 {
    gap: var(--gap-base);
  }
  .educationalBooks {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .featuresIcons2 {
    gap: var(--gap-base);
    flex: 1;
  }
  .homePage {
    gap: 28px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
