.atabase,
.cademy,
.chool,
.ducational,
.esearch,
.eteseb,
.pportunitiesAt {
  text-transform: lowercase;
}
.h1TitleCopyGoesContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.pLoremIpsumDolor {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-large-normal-size);
  line-height: 150%;
  color: var(--gray-500);
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button {
  height: 41px;
  flex: 1;
}
.actions {
  width: 114px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
}
.column,
.imageIcon {
  flex: 1;
  max-width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 364px;
}
.imageIcon {
  align-self: stretch;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.imageWrapper {
  height: 392.9px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.column1,
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.column1 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 364px;
}
.container {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-mediumslateblue);
  font-family: var(--paragraph-small-normal);
}
@media screen and (max-width: 1200px) {
  .container {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 1050px) {
  .h1TitleCopyGoesContainer {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 750px) {
  .column,
  .column1 {
    min-width: 100%;
  }
  .container {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .h1TitleCopyGoesContainer {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
}
