@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --paragraph-small-normal: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --paragraph-large-normal-size: 18px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;
  --paragraph-small-normal-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --gray-500: #6b7094;
  --color-mediumslateblue: #4555ff;
  --gray-900: #160042;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-41xl: 60px;
  --padding-base: 16px;
  --padding-15xl: 34px;
  --padding-2xl: 21px;
  --padding-9xl-2: 28.2px;
  --padding-9xl-1: 28.1px;

  /* Border radiuses */
  --br-3xs: 10px;
}
